body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 200px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: green;
    font-weight: bold;
}

button {
    padding: 8px 12px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}